.sectionTracks {
  padding-top: 200px;
  padding-bottom: 200px;
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
  margin-top: -20px;
  overflow: hidden;
}

.card {
  width: 500px;
  height: 300px;
  transition: all 0.5s ease-in-out;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  color: black;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.img {
  position: absolute;
  height: 25%;
  width: 25%;
  left: 185px;
  top: 50px;
  transition: all 0.5s;
  height: 16%;
  width: 10%;
  left: 430px;
  top: 20px;
}

.cardTitle {
  position: relative;
  top: 150px;
  font-size: 40px;
  transition: all 0.5s;
  font-weight: 100;
  display: block;
  margin-bottom: -50px;
}

.cardBody {
  position: relative;
  top: 50px;
  display: block;
  opacity: 0;
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 500;
}

/* .card:hover  */
.cardTitle {
  font-size: 30px;
  font-weight: 500;
  transform: translateY(-150px);
  border-bottom: 1px solid black;
  float: left;
}

/* .card:hover  */
.cardBody {
  opacity: 1;
}

/* .card:hover  */

@media (max-width: 1200px) {
  .sectionTracks {
    padding-top: 200px;
    padding-bottom: 200px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    margin-top: -100px;
  }
}

@media (max-width: 770px) {
  .img {
    height: 16%;
    width: 10%;
    left: 430px;
    top: 20px;
  }

  .cardTitle {
    font-size: 30px;
    font-weight: 500;
    transform: translateY(-150px);
    border-bottom: 1px solid black;
    float: left;
  }

  .cardBody {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .card {
    width: 275px;
    height: 425px;
  }

  .img {
    height: 10%;
    width: 16%;
    left: 222px;
    top: 15px;
  }

  .cardBody {
    opacity: 1;
    font-size: 14px;
  }

  .sectionTracks {
    padding-top: 200px;
    padding-bottom: 200px;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    margin-top: -100px;
  }

  /* .card:hover  */
  .cardTitle {
    font-size: 18px;
    font-weight: 500;
    transform: translateY(-150px);
    border-bottom: 0.5px solid black;
    float: left;
  }

  .cardBody {
    font-size: 15px;
    font-weight: 400;
  }
}

.under {
  width: 80px;
  height: 5px;
  border-radius: 25px;
  background-color: #7AF6D1;
  position: relative;
  top: -20px;
}


.flip {
  position: relative;
  margin-left: 20px;
 
}


.flip > .front, .flip > .back {
  display: block;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
 
}
.flip > .front {
  transform: perspective(600px) rotateY(0deg);
  transform-style: preserve-3d;
  /* background-image: url('../../../assets/img/iot.png'); */
  background-color: #A2F6DD;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: perspective(600px) rotateY(-180deg);
  transform-style: preserve-3d;
  background-color: #bbf0f3;
  background-image: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%);
}
.flip:hover > .front {
  transform: perspective(600px) rotateY(180deg);
  transform-style: preserve-3d;
  
}
.flip:hover > .back {
  opacity: 1;
  transform: perspective(600px) rotateY(0deg);
  transform-style: preserve-3d;

}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}
.flip > .front, .flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  /* background: #313131; */
  border-radius: 10px;
}
.flip > .front p, .flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #1C2C30;
}

.flip > .front h1, .flip > .back h2 {
  text-transform: uppercase;
  color: #1C2C30;
}

.flip > .front h1{
  margin-top: 50px;
}



@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }

  .text {
    font-size: 15px;
  }
  .flip{
    left: -20px;
    width: 290px;
  }
}

.custom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotateY(
180deg);
  transform: rotateY(
180deg);
}

.custom svg{
  position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 225px;
}